#cloud-config

runcmd:
  - sudo amazon-linux-extras enable docker
  - sudo yum -y install docker
  - sudo service docker start
  - sudo docker pull ${image}:latest
  - sudo docker run --name ${image} -p 80:80 -e WORDPRESS_DB_HOST=${DB_HOST} -e WORDPRESS_DB_USER=${DB_USER} -e WORDPRESS_DB_PASSWORD=${DB_PASSWORD} -d wordpress
